<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>

	<!-- log4j configuration for tests -->
	<!--
		<appender name="test-appender" class="org.apache.log4j.net.SocketAppender">
		<param name="RemoteHost" value="localhost" />
		<param name="Port" value="4445" />
		</appender>
	-->

	<appender name="test-appender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %C{1}(%M:%L) - %m\n" />
		</layout>
	</appender>


	<!--
		<appender name="test-appender" class="org.apache.log4j.FileAppender">
		<param name="File" value="cactus.log" />
		<param name="Append" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" value="%-5p %d{dd-MM-yy HH:mm:ss}\t%c{1}(%M: %L)\t%m\n" />
		</layout>
		</appender>
	-->


	<category name="org">
		<priority value="info" />
	</category>

	<category name="org.displaytag">
		<priority value="info" />
	</category>



	<root>
		<priority value="info" />
		<appender-ref ref="test-appender" />
	</root>


</log4j:configuration>