body{
	background-color: #fff;
}
.deprecated {
	text-decoration: line-through;
}
#menuDownloadable_docs li {
	background-image:url(../images/ico_file_pdf.png);
	padding-top: 4px;
	padding-bottom: 1px;
}
.source pre {
  font-size:xx-small;
  font-family:courier;
}
