a.tableCellHeader {
    background: transparent;
    color: #000;
    font-family: verdana, tahoma, arial, helvetica, san-serif;
    font-size: x-small;
    font-weight: bold;
    text-decoration: none;
}

a.tableCellHeader:hover {
    background: transparent;
    color: #000;
    font-family: verdana, tahoma, arial, helvetica, san-serif;
    font-size: x-small;
    font-weight: bold;
    text-decoration: underline;
}

A:link.greeting, A:visited.greeting {
    background: transparent;
    color: blue;
    text-decoration: underline;
}

A:link.menu, A:visited.menu {
    background: transparent;
    color: #000000;
    text-decoration: none;
}

A:active.greeting, A:hover.greeting {
    background: transparent;
    color: #FF3300;
    text-decoration: underline;
}

A:active.menu, A:hover.menu {
    background: transparent;
    color: #0000ff;
    text-decoration: none;
}

body {
    margin: 0px;
}

body, td, p {
    font-family: verdana, sans-serif;
    font-size: 12px;
}

h1 {
    margin-bottom: 15px;
    background: transparent;
    color: #000000;
    font-family: verdana,arial,lucida console,sans-serif,monospace;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

h2 {
    margin-bottom: 12px;
    background: transparent;
    color: #000000;
    font-family: verdana,arial,lucida console,sans-serif,monospace;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

h3 {
    margin-bottom: 10px;
    background: transparent;
    color: #000000;
    font-family: verdana,arial,lucida console,sans-serif,monospace;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

td.tableCell {
    font-family: verdana, tahoma, arial, helvetica, san-serif;
    font-size: x-small;
}

td.tableCellHeader {
    background: transparent;
    color: #000;
    font-family: verdana, tahoma, arial, helvetica, san-serif;
    font-size: x-small;
    font-weight: bold;
}

tr.tableRowEven {
    background: #ffeeaa;
    color: #000;
    font-family: verdana, tahoma, arial, helvetica, san-serif;
    font-size: x-small;
}

tr.tableRowHeader {
    background: #ffcc00;
    color: #000;
    font-family: verdana, tahoma, arial, helvetica, san-serif;
    font-size: x-small;
    font-weight: bold;
}

tr.tableRowOdd {
    background: #ffffff;
    color: #000;
    font-family: verdana, tahoma, arial, helvetica, san-serif;
    font-size: x-small;
}

.banner {
    margin-bottom: 0px;
    background: transparent;
    color: #000000;
    font-family: verdana,arial,lucida console,sans-serif,monospace;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.boxsubtitle {
    background: transparent;
    color: #000000;
    font-family: verdana,arial,lucida console,sans-serif,monospace;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.boxtext {
    background: transparent;
    color: #000000;
    font-family: verdana,arial,lucida console,sans-serif,monospace;
    font-size: 11px;
    text-decoration: none;
}

.boxtitle {
    background: transparent;
    color: #000000;
    font-family: verdana,arial,lucida console,sans-serif,monospace;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.footer {
    background: transparent;
    color: #000000;
    font-family: verdana,arial,lucida console,sans-serif,monospace;
    font-size: 11px;
    font-weight: normal;
    text-decoration: none;
}

.footerpipe, .menupipe {
    background: transparent;
    color: #000000;
    font-family: verdana,arial,lucida console,sans-serif,monospace;
    font-size: 10px;
    font-weight: normal;
    text-decoration: none;
}

.greeting {
    margin-bottom: 7px;
    background: transparent;
    color: #000000;
    font-family: verdana,arial,lucida console,sans-serif,monospace;
    font-size: 11px;
    font-weight: normal;
    margin-left: 7px;
    margin-right: 7px;
    text-decoration: none;
    margin-top: 7px;
}

.greetingpipe {
    margin-bottom: 7px;
    background: transparent;
    color: #000000;
    font-family: verdana,arial,lucida console,sans-serif,monospace;
    font-size: 10px;
    font-weight: normal;
    margin-left: 7px;
    margin-right: 7px;
    text-decoration: none;
    margin-top: 10px;
}

.header {
    margin-bottom: 10px;
    background: transparent;
    color: #000000;
    font-family: verdana,arial,lucida console,sans-serif,monospace;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.menu {
    background: transparent;
    color: #000000;
    font-family: verdana,arial,lucida console,sans-serif,monospace;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}

.smalltext {
    background: transparent;
    color: #000000;
    font-family: verdana,arial,lucida console,sans-serif,monospace;
    font-size: 12px;
    text-decoration: none;
}
