<?xml version="1.0" encoding="UTF-8"?>
<!--

    SPDX-License-Identifier: MIT
    See LICENSE file for details.

    Copyright 2002-2026 Fabrizio Giustina, the Displaytag team

-->
<!DOCTYPE project>
<configuration scan="true" debug="true">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <charset>UTF-8</charset>
      <pattern>%d{HH:mm:ss.SSS} %-5level {%thread} [%logger{40}] %msg%n</pattern>
    </encoder>
  </appender>

  <timestamp key="timestamp" datePattern="yyyyMMdd-HHmmss"/>

  <appender name="DISPLAYTAG" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>target/temp/logs/displaytag-${timestamp}.log</File>
    <append>true</append>
    <encoder>
      <charset>UTF-8</charset>
      <pattern>%d{HH:mm:ss.SSS} %-5level {%thread} [%logger{40}] %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.springframework.web.context.support" level="ERROR"/>
  <logger name="org.springframework.beans.factory.support" level="ERROR"/>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="DISPLAYTAG"/>
  </root>
</configuration>
