<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.1//EN" "http://www.puppycrawl.com/dtds/configuration_1_1.dtd">
<module name="Checker">
    <module name="TreeWalker">
        <module name="com.puppycrawl.tools.checkstyle.checks.ArrayTypeStyleCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.AvoidInlineConditionalsCheck">
            <property name="severity" value="ignore"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.AvoidNestedBlocksCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.AvoidStarImportCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.ConstantNameCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.DesignForExtensionCheck">
            <property name="severity" value="ignore"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.DoubleCheckedLockingCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.EmptyBlockCheck">
            <property name="option" value="text"/>
            <property name="severity" value="warning"/>
            <property name="tokens" value="LITERAL_CATCH, LITERAL_DO, LITERAL_ELSE, LITERAL_FINALLY, LITERAL_IF, LITERAL_FOR, LITERAL_TRY, LITERAL_WHILE, STATIC_INIT"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.EmptyForIteratorPadCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.EmptyStatementCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.EqualsHashCodeCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.FileLengthCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.FinalClassCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.FinalParametersCheck">
            <property name="severity" value="ignore"/>
            <property name="tokens" value="METHOD_DEF, CTOR_DEF"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.GenericIllegalRegexpCheck">
            <property name="format" value="exception\.printStackTrace\(\)"/>
            <property name="ignoreCase" value="false"/>
            <property name="message" value="Avoid exception.printStackTrace()"/>
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.GenericIllegalRegexpCheck">
            <property name="format" value="System\.out\.println\("/>
            <property name="ignoreCase" value="false"/>
            <property name="message" value="Avoid System.out.println(), use log.debug()"/>
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.HiddenFieldCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.HideUtilityClassConstructorCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.IllegalImportCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.IllegalInstantiationCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.InnerAssignmentCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.InterfaceIsTypeCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.JavadocMethodCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.JavadocTypeCheck">
            <property name="authorFormat" value="^[a-zA-Z]*$"/>
            <property name="scope" value="private"/>
            <property name="severity" value="warning"/>
            <property name="tokens" value="CLASS_DEF, INTERFACE_DEF"/>
            <property name="versionFormat" value="(^\$A_Zevision\:)*(\(\$A-Zuthor: )*(\$\))$"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.JavadocVariableCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.LeftCurlyCheck">
            <property name="maxLineLength" value="80"/>
            <property name="option" value="nl"/>
            <property name="severity" value="warning"/>
            <property name="tokens" value="CLASS_DEF, CTOR_DEF, INTERFACE_DEF, LITERAL_CATCH, LITERAL_DO, LITERAL_ELSE, LITERAL_FINALLY, LITERAL_FOR, LITERAL_IF, LITERAL_SWITCH, LITERAL_SYNCHRONIZED, LITERAL_TRY, LITERAL_WHILE, METHOD_DEF"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.LineLengthCheck">
            <property name="ignorePattern" value="^$"/>
            <property name="max" value="120"/>
            <property name="severity" value="warning"/>
            <property name="tabWidth" value="4"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.LocalFinalVariableNameCheck">
            <property name="format" value="^[A-Z0-9_]*$"/>
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.LocalVariableNameCheck">
            <property name="format" value="(^[a-z][a-z][a-zA-Z0-9]*$)|(^[a-z]$)"/>
            <property name="severity" value="info"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.MagicNumberCheck">
            <property name="ignoreNumbers" value="-1, 0, 1, 2"/>
            <property name="severity" value="ignore"/>
            <property name="tokens" value="NUM_DOUBLE, NUM_FLOAT, NUM_INT, NUM_LONG"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.MemberNameCheck">
            <property name="format" value="(^[a-z][a-z][a-zA-Z0-9]*$)|(^[a-z]$)"/>
            <property name="severity" value="info"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.MethodLengthCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.MethodNameCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.MissingSwitchDefaultCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.ModifierOrderCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.NeedBracesCheck">
            <property name="severity" value="warning"/>
            <property name="tokens" value="LITERAL_DO, LITERAL_ELSE, LITERAL_IF, LITERAL_FOR, LITERAL_WHILE"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.NoWhitespaceAfterCheck">
            <property name="allowLineBreaks" value="true"/>
            <property name="severity" value="warning"/>
            <property name="tokens" value="BNOT, DEC, DOT, INC, LNOT, UNARY_MINUS, UNARY_PLUS"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.NoWhitespaceBeforeCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.OperatorWrapCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.PackageNameCheck">
            <property name="format" value="^[a-z]+(\.[a-z][a-z]*)*$"/>
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.ParameterNameCheck">
            <property name="format" value="(^[a-z][a-z][a-zA-Z0-9]*$)|(^[a-z]$)"/>
            <property name="severity" value="info"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.ParameterNumberCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.ParenPadCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.RedundantImportCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.RedundantModifierCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.RedundantThrowsCheck">
            <property name="allowSubclasses" value="false"/>
            <property name="allowUnchecked" value="false"/>
            <property name="severity" value="ignore"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.RightCurlyCheck">
            <property name="option" value="alone"/>
            <property name="severity" value="warning"/>
            <property name="tokens" value="LITERAL_CATCH, LITERAL_ELSE, LITERAL_TRY"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.SimplifyBooleanExpressionCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.SimplifyBooleanReturnCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.StaticVariableNameCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.TabCharacterCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.TodoCommentCheck">
            <property name="format" value="@todo"/>
            <property name="severity" value="ignore"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.TypeNameCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.UnusedImportsCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.UpperEllCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.VisibilityModifierCheck">
            <property name="packageAllowed" value="true"/>
            <property name="protectedAllowed" value="true"/>
            <property name="publicMemberPattern" value="^serialVersionUID"/>
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.WhitespaceAfterCheck">
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.WhitespaceAroundCheck">
            <property name="severity" value="warning"/>
        </module>
    </module>
</module>
