# sample build properties for cactus set-up
# create a build.properties file with one or more cactus.home.* properties
# like the ones below. Cactus tests will be run automatically during build

cactus.home.tomcat4x = c:/appservers/tomcat4
cactus.home.tomcat5x = c:/appservers/tomcat5
cactus.home.resin2x = c:/appservers/resin2
cactus.home.orion1x = c:/appservers/orion1
cactus.home.orion2x = c:/appservers/orion2
cactus.home.jboss3x = c:/appservers/jboss3