IndexOptions DescriptionWidth=*
IndexOptions NameWidth=*
IndexOptions +SuppressHTMLPreamble
HeaderName .header.html
ReadmeName .footer.html
Options Includes Indexes


AddDescription "md5" *.md5
AddDescription "sha1" *.sha1
AddDescription "displaytag snapshot build" *.jar
AddDescription "maven metadata" maven-metadata.xml
AddDescription "maven pom" *.pom

AddIcon /11/images/icon_success_sml.gif *.jar
AddIcon /11/images/icon_doc_sml.gif *.xml *.md5 *.sha1 *.pom
