<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
	PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
	"http://java.sun.com/j2ee/dtds/web-app_2_2.dtd"
>


<web-app>
    <description>Documentatio and examples for the Display Tag Library.</description>

    <servlet>
        <servlet-name>DisplaySource</servlet-name>
        <display-name>DisplaySource</display-name>
        <description>display source of sample jsp pages</description>
        <servlet-class>org.displaytag.sample.DisplaySourceServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DisplaySource</servlet-name>
        <url-pattern>*.source</url-pattern>
    </servlet-mapping>

    <mime-mapping>
        <extension>css</extension>
        <mime-type>text/css</mime-type>
    </mime-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>

    <taglib>
        <taglib-uri>http://displaytag.sourceforge.net/</taglib-uri>
        <taglib-location>/WEB-INF/displaytag-11.tld</taglib-location>
    </taglib>


</web-app>
