body {
    .hljs {
        background-color: transparent;
        .hljs-attribute {
            color: #4f9fcf;
        }
        .hljs-value {
            color: #d44950;
        }
        .hljs-tag, .hljs-title {
            color: #2f6f9f;
            font-weight: normal;
        }
        .hljs-javadoc {
            color: #d44950;
        }
    }
}
