.table {
    thead th {
        background-color: $green;
        font-weight: normal;
        a {
            color: #000;
            text-decoration: underline;
            display: block;
            &:hover {
                color: $blue;
                text-decoration: underline;
            }
        }
    }
    tfoot td {
        background-color: lighten($grey, 7);
    }
    caption {
        font-style: italic;
        margin-bottom: 10px;
    }
    tr.total td, tr.subtotal td {
        background-color: lighten($grey, 7);
        font-weight: bold;
    }
    tr.grandtotal-row td {
        border-top: 2px solid #000;
        font-weight: bold;
    }
}

.sortable a:after {
    position: relative;
    top: 3px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    color: #666;
}

.sortable a:after {
    content: "\e150";
}

.sorted.order1 a:after {
    content: "\e151";
}

.sorted.order2 a:after {
    content: "\e152";
}

.exportlinks {
    margin: 20px 0;
}

/*
.export {
    &:before {
        content: " ";
        zoom: 0.15;
        -moz-transform: scale(0.15);
        -moz-transform-origin: 0 0;
    }
    &.csv:before {
        @extend .svg-file-csv;
    }
    &.excel:before {
        @extend .svg-file-xls;
    }
    &.pdf:before {
        @extend .svg-file-pdf;
    }
    &.xml:before {
        @extend .svg-file-xml;
    }
}
*/

.export {
    &:before {
        content: " ";
        zoom: 0.12;
        -moz-transform: scale(0.12);
        -moz-transform-origin: 0 0;
        margin-right: 30px;
        margin-top: 3px;
    }
    &.csv:before {
        @extend .svg-file-csv;
    }
    &.excel:before {
        @extend .svg-file-xls;
    }
    &.pdf:before {
        @extend .svg-file-pdf;
    }
    &.xml:before {
        @extend .svg-file-xml;
    }
}

table {
    &.its {
        thead tr {
            background-color: #69c;
        }
        tr.even {
            background-color: #def;
        }
    }
    &.mars {
        thead tr {
            background-color: #9c9;
        }
        tr {
            &.even {
                background-color: #ccb;
            }
            &.odd {
                background-color: #eec;
            }
        }
    }
    &.simple {
        thead tr th {
            background-color: #eee;
        }
        tr.even {
            background-color: #fff;
        }
        border: 1px solid #ccc;
        border-collapse: collapse;
        td, th {
            border: 1px solid #ccc;
        }
    }
    &.nocol tbody {
        td, th {
            border-left: none;
            border-right: none;
        }
    }
    &.report {
        td {
            font: menu;
        }
        th {
            font: menu;
            background: buttonface;
            border-width: 1px;
            border-style: solid;
            border-color: threedhighlight threedshadow threedshadow threedhighlight;
            cursor: hand;
        }
        .idcol {
            background: buttonface;
        }
        tr.even {
            background-color: #399;
        }
        tbody {
            height: 100px;
            overflow: auto;
            tr {
                height: 10px;
            }
        }
        height: 120px;
        overflow: auto;
    }
    &.mark td.tableCellError {
        background-color: #d00;
        color: #fff;
    }
    &.simple td.textRed {
        color: #b11;
    }
}
